<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum aliquam porro blanditiis suscipit accusamus tempora laborum ad pariatur praesentium repudiandae architecto, ipsum beatae nam odit illo. Libero, explicabo! Delectus, voluptates.</p>
</body>
</html>